# Sync with draw.go as much as possible
draw_config:
  key_h: 60
  glyph_tap_size: 18
  glyph_hold_size: 16
  append_colon_to_layer_header: false
  svg_extra_style: |
    svg.keymap {
      font-family: Iosevka Pacman, monospace;
      font-size: 14px;
    }
    text.label, text.footer {
      font-size: 16px;
    }
    text.hold {
      font-size: 12px;
    }
    rect.held, rect.enter, rect.space, rect.arrow {
      fill: rgb(255, 205, 210);
    }
    rect.esc, rect.vim {
      fill: rgb(200, 230, 201);
    }
  draw_key_sides: true
  footer_text: Created by haunt98
parse_config:
  trans_legend:
    tap: $$mdi:transfer-down$$
    type: trans
  raw_binding_map: {
      # Custom
      "CTL_ESC":
        {
          "t": "$$mdi:keyboard-esc$$",
          "h": "$$mdi:apple-keyboard-control$$",
          "type": "esc",
        },
      "TD(TD_SAFE_BOOT)": "BOOT",
      # Basic
      "KC_H": { "t": "H", "type": "vim" },
      "KC_J": { "t": "J", "type": "vim" },
      "KC_K": { "t": "K", "type": "vim" },
      "KC_L": { "t": "L", "type": "vim" },
      "KC_ENT": { "t": "$$mdi:keyboard-return$$", "type": "enter" },
      "KC_BSPC": "$$mdi:keyboard-backspace$$",
      "KC_TAB": "$$mdi:keyboard-tab$$",
      "KC_SPC": { "t": "$$mdi:keyboard-space$$", "type": "space" },
      "KC_UP": { "t": "$$mdi:chevron-up$$", "type": "arrow" },
      "KC_DOWN": { "t": "$$mdi:chevron-down$$", "type": "arrow" },
      "KC_LEFT": { "t": "$$mdi:chevron-left$$", "type": "arrow" },
      "KC_RGHT": { "t": "$$mdi:chevron-right$$", "type": "arrow" },
      "KC_CAPS": "$$mdi:apple-keyboard-caps$$",
      "KC_LCTL": "$$mdi:apple-keyboard-control$$",
      "KC_RCTL": "$$mdi:apple-keyboard-control$$",
      "KC_LOPT": "$$mdi:apple-keyboard-option$$",
      "KC_ROPT": "$$mdi:apple-keyboard-option$$",
      "KC_LCMD": "$$mdi:apple-finder$$",
      "KC_RCMD": "$$mdi:apple-keyboard-command$$",
      "KC_VOLD": "$$mdi:volume-minus$$",
      "KC_VOLU": "$$mdi:volume-plus$$",
      "KC_MUTE": "$$mdi:volume-off$$",
      "KC_WH_U": "$$mdi:mouse-move-up$$",
      "KC_WH_D": "$$mdi:mouse-move-down$$",
      # Advance
      "QK_GESC": { "t": "$$mdi:keyboard-esc$$", "type": "esc" },
      "TL_LOWR": "$$mdi:numeric-1-box-outline$$",
      "TL_UPPR": "$$mdi:numeric-2-box-outline$$",
      "SC_LSPO": { "t": "(", "h": "$$mdi:apple-keyboard-shift$$" },
      "SC_RSPC": { "t": ")", "h": "$$mdi:apple-keyboard-shift$$" },
    }
