# https://github.com/qmk/qmk_firmware/blob/master/docs/newbs_building_firmware_workflow.md
name: QMK
on:
  push:
    branches:
      - main
    paths:
      - "**.c"
      - "**.h"
      - "**.mk"
      - ".github/workflows/qmk.yml"
  pull_request:
    branches:
      - main
    paths:
      - "**.c"
      - "**.h"
      - "**.mk"
      - ".github/workflows/qmk.yml"
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/qmk/qmk_cli
    strategy:
      matrix:
        qmk_ref: [master, develop]
    steps:
      - name: Disable git safe directory checks
        run: git config --global --add safe.directory '*'
      - name: Checkout QMK
        uses: actions/checkout@v4
        with:
          repository: qmk/qmk_firmware
          submodules: recursive
          ref: ${{ matrix.qmk_ref }}
      - name: Checkout personal keymaps
        uses: actions/checkout@v4
        with:
          path: haunt98_qmk_keymaps
      - name: Copy keymaps
        run: |
          rm -rf keyboards/dztech/dz60rgb_wkl/keymaps/haunt98
          cp -rf haunt98_qmk_keymaps/dztech_dz60rgb_wkl/keymaps/haunt98 keyboards/dztech/dz60rgb_wkl/keymaps/
          rm -rf keyboards/gray_studio/think65/solder/keymaps/haunt98
          cp -rf haunt98_qmk_keymaps/gray_studio_think65_solder/keymaps/haunt98 keyboards/gray_studio/think65/solder/keymaps/haunt98/
          rm -rf users/haunt98
          cp -rf haunt98_qmk_keymaps/users/haunt98 users/
      - name: Lint
        run: |
          qmk lint -kb dztech/dz60rgb_wkl/v2_1 -km haunt98
          qmk lint -kb gray_studio/think65/solder -km haunt98
      - name: Build firmware
        run: |
          make dztech/dz60rgb_wkl/v2_1:haunt98
          make gray_studio/think65/solder:haunt98
      - name: Convert keymaps JSON
        run: |
          qmk c2json -kb dztech/dz60rgb_wkl/v2_1 \
            -km haunt98 \
            -o dztech_dz60rgb_wkl_haunt98_keymap.json \
            --no-cpp \
            haunt98_qmk_keymaps/dztech_dz60rgb_wkl/keymaps/haunt98/keymap.c
      - name: Extra
        run: |
          qmk info -m -l -kb dztech/dz60rgb_wkl/v2_1 -km haunt98
      - name: Archive firmware
        uses: actions/upload-artifact@v3
        with:
          name: haunt98_firmware_${{ matrix.qmk_ref }}
          path: |
            *.hex
            *.bin
            *.uf2
      - name: Archive keymaps JSON
        uses: actions/upload-artifact@v3
        with:
          name: haunt98_keymaps_${{ matrix.qmk_ref }}
          path: |
            *_keymap.json
